<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sobre nosotros</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  rel="stylesheet" type="text/css" th:href="@{/styles/aboutLayout.css}"> 
    </head>
    <body>
        <video autoplay muted loop id="myVideo">
            <source src="devteam.mp4" type="video/mp4">
        </video>
        <div class="nombreEquipo">
            <h1>CaudilloCarles development consulting</h1>
        </div>
        <div class="miembros">
            <p>Carlos Fortes</p>
            <p>Roberto Garcia</p>
            <p>Pablo Hierrezuelo</p>
        </div>
    </body>
</html>
