<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <form th:action="@{/modificar}" method="post" th:object="${prac}">

            <ul>
                <li>
                    <label for="fecha">Fecha</label>
                    <input th:value="${practica.fecha} "type="date" id="fecha" name="fecha" th:field="*{fecha}">

                </li>

                <li>
                    <label for="select">Tipo de practica</label>
                    <select id="select" name="select" th:field="*{tipo}">
                        <option th:each="i : ${tipoarray}" th:value="${i}" th:text="${i}" 
                                th:selected="${i==practica.tipo}"></option>
                    </select>

                </li>

                <li>
                    <label for="descripcion">Descripcion</label>
                    <textarea th:text="${practica.descripcion}" id="descripcion" name="descripcion" rows="4" cols="50" th:field="*{descripcion}"></textarea>
                </li>

                <li>
                    <label for="horas">Horas empleadas</label>
                    <input th:value="${practica.horasEmpleadas}" type="range" min="1" max="8" id="horas" name="horas" th:field="*{horasEmpleadas}" >  
                    <span id="inputRange"></span>
                </li>

                <li>
                    <label for="observaciones">Observaciones</label>
                    <textarea th:text="${practica.observaciones}" id="observaciones" name="observaciones" rows="4" cols="50" th:field="*{observaciones}"></textarea>
                </li>

                <li>
                    <input type="submit" value="Guardar">
                </li>

            </ul>


        </form>
        <script>

            const input = document.getElementById("inputRange");
            const range = document.getElementById("horas");
            range.addEventListener("input", () => {
                input.innerText = range.value;
            },
                    false);

        </script>

    </body>
</html>
