<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link  rel="stylesheet" type="text/css" th:href="@{/styles/layout.css}">
        <script th:src="@{/styles/main.js}"></script>
        <title>Bienvenido alumno</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- BLOQUE 1 -->
       <div class="topbar">
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a th:href="@{/login}">Cerrar sesión</a>
                    <a href="#">Acerca de</a>
                </div>
            </div>
           </div>
           <div class="infopracticas">
               <div class="infoestudiante"><!-- Imagen & info basica del estudiante -->
                   <div class="mugshot">
                       <img th:src="@{${principalAlumno.fotoUrl}}" height="220" width="200"> 
                   </div>
                   <div class="infoestudiantetexto">
                       <h1 th:text="${principalAlumno.nombre}">Pablo Hierrezuelo</h1>
                       <p th:text="${principalAlumno.curso}">2º DAM</p>
                       <p th:text="${principalAlumno.idEmpresa.nombre}">ViewNext</p>  
                   </div>    
                </div>
               <div class="logoempresa">
                <img th:src="@{${principalAlumno.idEmpresa.fotoUrl}}">
                </div>
           </div> 
               
        <!-- BLOQUE 2 -->
        <div class="slidertareas">
            
            <p class="extra"> Prácticas </p>
            <div class="wrapper">
                <button class="previous"><img th:src="@{/img/flechaIzquierda.png}"></button>
                    <div class="overflow">
                        <a th:href="@{'/anadir/'+${principalAlumno.id}}"> <div class="anadir"></div></a>
                        <div class="iteracion" th:each="p:${principalAlumno.practicas}">
                            <div class="bloco"><p th:text="${p.fecha}">Hola</p></div>
                            <!--<a th:href="@{'/editar-practica/13/40'}">1</a>-->
                      </div>
                    </div>
                <button class="next">
                    <img th:src="@{/img/flechaDerechaa.png}">
                </button>
            </div>
            <button class="historial"><a th:href="@{'/historialPractica/'+${principalAlumno.id}}">Historial</a></button>
            <button class="anadirPractica"><a th:href="@{'/anadir/'+${principalAlumno.id}}">Añadir Practica</a></button>
        </div>
        
        
        <!-- BLOQUE 2 -->
        <div class="horas">
            <p class="restantes"th:text="'Horas Restantes Dual: '+ ${horasDualRest}">Horas Restantes Dual: 50</p><!-- placegolder -->
            <p class="realizadas" th:text="'Horas realizadas: '+ ${horasDualReal}">Horas realizadas: 2</p><!-- comment -->
            <p class="restantes" th:text="'Horas Restantes FCT: '+ ${horasFctRest}">Horas Restantes FCT 50</p><!-- placegolder -->
            <p class="realizadas" th:text="'Horas realizadas: '+ ${horasFctReal}">Horas realizadas: 2</p><!-- comment -->
        </div>
       
    </body>
</html>
