body {
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 400px;
    padding-top: 80px;

}
.form-group {
    margin-bottom: 20px;
}

.form-selector {
   
}



.container1 {
    width: 100%;
    display: flex;
}

#derecha {
    margin-left: auto;
}